#add_journal_record_form {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
   height: 100%;
}

#add_journal_record_form > div {
   display: flex;
   flex-flow: column nowrap;
   align-items: start;
   width: 20%;
}

@media (max-width: 850px) { 
    #add_journal_record_form > div  {
        width: 70%;
    }
}